.new-question-title {
    text-align: center;
    display: block;
    background-color: rgb(216, 216, 216);
    padding: 20px;
    font-size: 25px;
    font-weight: bold;
}

.new-question-form {
    padding: 20px;
}

.new-question-info {
    display: flex;
    flex-direction: column;
}

.new-question-info>span {
    display: block;
    text-align: center;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
}

.input-question {
    border-radius: 4px;
    border: 1px solid #dad7d7;
    padding: 10px;
    font-size: 15px;
    height: 20px;
}

.or {
    display: block;
    text-align: center;
    padding: 10px;
}