.textarea {
    border-radius: 4px;
    border: 1px solid #dad7d7;
    padding: 10px;
    font-size: 15px;
    height: 100px;
}

.tweet-length {
    text-align: right;
    margin-top: 10px;
    font-size: 20px;
    color: #C3392A;
}
