.result-author {
    padding: 20px;
    font-weight: bold;
    background-color: rgb(216, 216, 216);
}

.result-info {
    padding: 20px;
    display: flex;
    flex-direction: row;
}

.answer-info {
    display: flex;
    flex-direction: column;
    width: 75%;
    align-items: center;
}

.answer-info>span:first-child {
    align-self: flex-start;
    font-weight: bold;
    color: black;
    font-size: 20px;
}

.answer {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.option {
    border: 1px solid #dad7d7;
    border-radius: 3px;
    padding: 30px;
    margin: 15px 0;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.option>span {
    text-align: center;
    font-size: 14px;
    color: rgb(77, 77, 77);
}

.option>span:first-child {
    font-weight: bold;
    font-size: 16px;
}

.voted {
    background-color: rgb(203 251 203);
}

.voted-icon {
    width: 50px;
    height: 50px;
    margin-left: -25px;
}

.percentage {
    border: rgb(77, 77, 77) 1px solid;
    background: rgb(231, 231, 231);
    border-radius: 13px;
    height: 30px;
	width: 70%;
	margin-top: 15px;
	margin-bottom: 15px;
	align-self: center;
}


.fill {
    display: block;
    background-color: #a8a8a8;
    height: 100%;
    border-radius: 9px;
}

.voted>.percentage>.fill {
    background-color: rgb(66, 165, 79);
}