.user-score-item {
    margin-top: 20px;
}

.user-score-item:first-child {
    margin-top: 0;
}

.user {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 20px;
    border-left: 2px solid;
    border-right: 2px solid;
    border-color: rgb(196, 196, 196);
    padding-left: 20px;
    padding-right: 20px;
}

.trophy1 {
    position: absolute;
}

.trophy1 {
    width: 50px;
    height: 50px;
    margin-left: -25px;
    margin-top: -25px;
    color: #D6AF36;
}

.trophy2 {
    width: 40px;
    height: 40px;
    margin-left: -20px;
    margin-top: -20px;
    color: #A7A7AD;
}

.trophy3 {
    width: 30px;
    height: 30px;
    margin-left: -15px;
    margin-top: -15px;
    color: #A77044;
}

.user-info {
    display: flex;
    flex-direction: column;
    width: 25%;
    align-items: center;
    justify-content: center;
}

.user-avatar {
    display: flex;
    max-width: 90px;
    width: auto;
    height: auto;
}

.user-name {
    font-size: 24px;
    font-weight: bold;
    text-align: left;
}

.user-answered,
.user-created {
    display: flex;
    justify-content: space-between;
}

.user-answered {
    border-bottom: 2px solid;
    border-color: rgb(196, 196, 196);
}

.score {
    display: flex;
    flex-direction: column;
    width: 15%;
    justify-content: center;
    align-items: center;
}

.score-title {
    font-weight: bold;
}

.score-user {
    font-weight: bold;
    border: 2px solid;
    border-top: 0px;
    border-color: rgb(196, 196, 196);
    background-color: rgb(66, 165, 79);
    color: white;
    border-radius: 40px;
    border-radius: 50%;
	width: 60px;
	height: 60px;
    line-height: 60px;
    font-size: 24px;
}